@{
    Layout = null;
}

<!DOCTYPE html/>

<html>
    <head></head>
    <body>
        <a asp-controller="Employee" asp-action="Add">Go to the Employee add</a>
        <h1 style="color:red;">
            Hello From Index2
        </h1>
    </body>
</html>